USE [master]
GO
/****** Object:  Database [PTUDWeb_MidTerm]    Script Date: 4/21/2019 7:52:53 PM ******/
CREATE DATABASE [PTUDWeb_MidTerm]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PTUDWeb_MidTerm', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PTUDWeb_MidTerm.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PTUDWeb_MidTerm_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PTUDWeb_MidTerm_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PTUDWeb_MidTerm].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PTUDWeb_MidTerm]
GO
/****** Object:  Table [dbo].[OrderBill]    Script Date: 4/21/2019 7:52:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderBill](
	[orderId] [int] IDENTITY(1,1) NOT NULL,
	[customerIdRef] [int] NOT NULL,
	[productIdRef] [int] NOT NULL,
	[amount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[orderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 4/21/2019 7:52:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[personId] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [nvarchar](255) NULL,
	[lastName] [nvarchar](255) NULL,
	[dateOfBirth] [datetime] NULL,
	[gender] [bit] NULL,
	[phone] [varchar](20) NULL,
	[email] [varchar](255) NULL,
	[address] [nvarchar](255) NULL,
	[username] [varchar](255) NULL,
	[password] [varchar](1000) NULL,
	[isAddmin] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[personId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 4/21/2019 7:52:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[productId] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[price] [int] NULL,
	[status] [bit] NULL,
	[amount] [int] NULL,
	[description] [nvarchar](1000) NULL,
	[productGroupIdRef] [int] NOT NULL,
	[shopIdRef] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[productId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductGroup]    Script Date: 4/21/2019 7:52:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductGroup](
	[productGroupId] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[productGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shop]    Script Date: 4/21/2019 7:52:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shop](
	[shopId] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[shopId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderBill]  WITH CHECK ADD FOREIGN KEY([customerIdRef])
REFERENCES [dbo].[Person] ([personId])
GO
ALTER TABLE [dbo].[OrderBill]  WITH CHECK ADD FOREIGN KEY([productIdRef])
REFERENCES [dbo].[Product] ([productId])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([productGroupIdRef])
REFERENCES [dbo].[ProductGroup] ([productGroupId])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([shopIdRef])
REFERENCES [dbo].[Shop] ([shopId])
GO
USE [master]
GO
