<header class="container">
    <div class="row border-bottom border-success">
        <div class="col-md-8">
            <h1 class="text-success pt-3"><i class="fab fa-envira"></i> Bonsai House</h1>
        </div>
        <div class="col-md-4">
            <p class="text-success font-italic pt-3">Màu xanh của Bonsai<br/>là màu tươi đẹp nhất cho cuộc sống</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-end">
            <div class="dropdown">
                <button class="btn" id="dropdownAccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle text-success"></i>
                    <a class="text-dark font-weight-bold pl-2" href="#">Tài khoản</a>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Thông tin</a>
                    <a class="dropdown-item" href="/dangnhap">Đăng nhập</a>
                    <a class="dropdown-item" href="/dangky">Đăng ký</a>
                </div>
            </div>
            <button class="btn ml-3">
                <i class="fas fa-shopping-basket text-success"></i>
                <a class="text-dark font-weight-bold pl-2" href="/giohang">Giỏ hàng</a>
            </button>
        </div>
        <div class="col-md-12 d-flex justify-content-end"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="addon-wrapping"><i class="fas fa-search"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Tìm kiếm" aria-label="Searching" aria-describedby="addon-wrapping">
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row my-3">
        <div class="col-md-3">
            <div class="dropdown">
                <button class="btn btn-success" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fab fa-buffer"></i>
                    <span>DANH MỤC</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                    <a href="/senda" class="dropdown-item">Cây cảnh Sen Đá</a>
                    <a href="#" class="dropdown-item">Cây cảnh Phong Thủy</a>
                    <a href="#" class="dropdown-item">Cây cảnh Để Bàn</a>
                    <a href="#" class="dropdown-item">Cây cảnh Văn Phòng</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <nav>
                <ul class="nav justify-content-center">
                    <li class="nav-item"><a class="nav-link border-right" href="/">Trang chủ</a></li>
                    <li class="nav-item"><a class="nav-link border-right" href="#">Giới thiệu</a></li>
                    <li class="nav-item"><a class="nav-link border-right" href="#">Chính sách</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Bài viết</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-md-3 d-flex justify-content-end pr-4">
            <button class="btn btn-success">
                <span><small>Hãy gọi:</small> 032 759 0960</span>
                <i class="fas fa-phone-square"></i>
            </button>
        </div>
    </div>
</header>
<main class="container">
                            
                            <div class="row">
                                <div class="col-md-4 text-center">
                                    <h3 class="bg-success text-white py-3 rounded">GIỎ HÀNG <span class="text-dark font-italic">(<small>3 sản phẩm</small>)</span></h3>
                                </div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="container-fluid mt-3">
                                        <div class="row align-items-center mb-3">
                                            <div class="col-md-3 pl-0">
                                                <img class="img-thumbnail" src="/images/sen đá móng rồng_05.jpg" alt="sanda" />
                                            </div>
                                            <div class="col-md-4 pr-0">
                                                <h4>Sen đá Móng Rồng</h4>
                                                <p>MSP: <span>SD00015</span></p>
                                            </div>
                                            <div class="col-md-3">
                                                <h4 class="text-danger "><span>50.000</span> VNĐ</h4>
                                                <button class="btn btn-primary">Xóa</button>
                                            </div>
                                            <div class="col-md-2">
                                                <input class="border border-primary" type="number" value="1" style="width: 50px">
                                            </div>
                                        </div>
                                        <!--row align-items-center-->
                                        <div class="row align-items-center mb-3">
                                            <div class="col-md-3 pl-0">
                                                <img class="img-thumbnail" src="/images/sen đá móng rồng_05.jpg" alt="sanda" />
                                            </div>
                                            <div class="col-md-4 pr-0">
                                                <h4>Sen đá Móng Rồng</h4>
                                                <p>MSP: <span>SD00015</span></p>
                                            </div>
                                            <div class="col-md-3">
                                                <h4 class="text-danger "><span>50.000</span> VNĐ</h4>
                                                <button class="btn btn-primary">Xóa</button>
                                            </div>
                                            <div class="col-md-2">
                                                <input class="border border-primary" type="number" value="1" style="width: 50px">
                                            </div>
                                        </div>
                                        <!--row align-items-center-->
                                        <div class="row align-items-center mb-3">
                                            <div class="col-md-3 pl-0">
                                                <img class="img-thumbnail" src="/images/sen đá móng rồng_05.jpg" alt="sanda" />
                                            </div>
                                            <div class="col-md-4 pr-0">
                                                <h4>Sen đá Móng Rồng</h4>
                                                <p>MSP: <span>SD00015</span></p>
                                            </div>
                                            <div class="col-md-3">
                                                <h4 class="text-danger "><span>50.000</span> VNĐ</h4>
                                                <button class="btn btn-primary">Xóa</button>
                                            </div>
                                            <div class="col-md-2">
                                                <input class="border border-primary" type="number" value="1" style="width: 50px">
                                            </div>
                                        </div>
                                        <!--row align-items-center-->
                                    </div>
                                </div>
                                <div class="col-md-4 mt-3">
                                    <div class="container-fluid border border-dark">
                                        <div class="row mt-3">
                                            <div class="col-md-5"><p>Tạm tính: </p>
                                            </div>
                                            <div class="col-md-7 text-right"><p class="font-weight-bold"><span>150.000</span> VNĐ</p>
                                            </div>
                                        </div>
                                        <!--tam tinh-->
                                        <hr/>
                                        <div class="row">
                                            <div class="col-md-5"><p>Thành tiền: </p>
                                            </div>
                                            <div class="col-md-7 text-right">
                                                <p class="font-weight-bold text-danger"><span>150.000</span> VNĐ</p>
                                                <p class="font-italic"><small>(Đã bao gồm phí vận chuyển)</small></p>
                                            </div>
                                        </div>
                                        <!--thanh tien-->
                                    </div>

                                    <a href="/thanhtoan_1" class="btn btn-danger mt-4 py-3 w-100">
                                        <span class="display-4">Thanh toán</span>
                                    </a>
                                </div>


                            </div>

                        </main>
<footer class="container mt-5">
    <div class="row border-top py-4">
        <div class="col-md-4">
            <h4>HỖ TRỢ KHÁCH HÀNG</h4>
            <p class="m-0 pl-2 pb-1"><a href="#">Hướng dẫn chăm sóc cây cảnh</a></p>
            <p class="m-0 pl-2 pb-1"><a href="#">Hướng dẫn mua hàng</a></p>
            <p class="m-0 pl-2 pb-1"><a href="#">Các câu hỏi thường gặp</a></p>
            <p class="text-danger mt-3 font-weight-bold">Hotline: 0327590960</p>
        </div>
        <div class="col-md-4">
            <h4>PHƯƠNG THỨC THANH TOÁN</h4>
            <div class="d-flex justify-content-center">
                <a href="#" class="display-4 px-2"><i class="fab fa-cc-paypal"></i></a>
                <a href="#" class="display-4 px-2"><i class="fab fa-cc-visa"></i></a>
            </div>
            <h4>ĐỊA CHỈ BUÔN BÁN LẺ</h4>
            <p class="m-0 pl-3 pb-1"><i class="fas fa-map-marker-alt"></i> 18/8 Phan Văn Trị, phường 2, quận 5</p>
            <p class="m-0 pl-3 pb-1"><i class="fas fa-map-marker-alt"></i> 18/8 Phan Văn Trị, phường 2, quận 5</p>
                                    
        </div>
        <div class="col-md-4">
            <h4>ĐĂNG KÝ NHẬN BÀI VIẾT</h4>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Enter email" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <a href="#" class="btn btn-primary input-group-text" id="basic-addon2">Đăng ký</a>
                </div>
            </div>
        </div>
    </div>
</footer>